body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1920x1080/?nature');
    font-size: 120%;
  }
  textarea{
    background-color: #000;
    opacity: 0.9;
    border: none;
    font-size: 120%;
    font-weight: 400;
    color: white;
  }
  .card {
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    /* max-width: 390px; */
    width: 60%;
    opacity: 0.85;
  }
  .card-result{
    border-radius: 20px;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 30px;
    max-width: 510px;
    width: 130%;
    height: 90%;
    opacity: 0.9;
  }
  .card{ @media screen and (max-width: 200px) {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }}
  .card-result{ @media screen and (max-width: 600px;max-height:400px) {
    width: 80%;
    height:80%;
    display: block;
    margin-bottom: 20px;
  }}
  form {
    text-align: center;
  }
  .btn {
    padding: 5px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 500;
    border-color: #000;
    margin-top: 20px;
  }
  .btn:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }
  